
body {
  background: #f3e8c9;
  margin: 0;
  font-family: sans-serif;
  display: flex;
  flex-direction: row;
  height: 100vh;
  overflow: hidden;
}

#pinboard-wrapper {
  width: 50vw;
  height: 100vh;
  box-sizing: border-box;
  left: 100%;                 /* default off-screen to the right */
  transition: left 0.4s ease; /* smooth slide animation */
  display: flex;
  justify-content: center;
  align-items: flex-start;

  padding-top: 20px;
  overflow: visible; 
}

#main-content {
  width: 50vw;
  height: 100vh;
  padding: 20px;
  overflow-y: auto;
  box-sizing: border-box;
}
#donkey-image {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto; 
}


#pinboard {
  width: 800px;
  height: 500px;

  background: url('images/pinboard_texture.png');
  background-size: cover;

  position: relative;
  border: 8px solid #b48a56;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.3);


  transform: scale(0.7);
  transform-origin: top left;
}

#screen-container {
  width: 100%;
  height: 85%;
  overflow: hidden;
  position: relative;
}

.screen {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  gap: 20px; 
}

#screen-1 { left: 0; }
#screen-2 { left: 100%; }


.ear {
  width: 100px;
  height: 100px;
  cursor: grab;
  user-select: none;
}

.eye {
  width: 100px;
  height: 100px;
  cursor: grab;
  user-select: none;
}

.mouth {
  width: 200px;
  height: 200px;
  cursor: grab;
  user-select: none;
}

.tail {
  width: 200px;
  height: 200px;
  cursor: grab;
  user-select: none;
}

.ear-placeholder {
  width: 100px;
  height: 100px;
}


.dragging {
  position: absolute !important;
  z-index: 999;
  cursor: grabbing;
}


#nav-arrows {
  width: 100%;
  height: 15%;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0 20px;
  box-sizing: border-box;
  margin-top: 5px; 
}

#nav-arrows button {
  font-size: 20px;
  padding: 6px 14px;

  border: none;
  background: #d1b07a;
  border-radius: 10px;
  cursor: pointer;

  box-shadow: 0 2px 6px rgba(0,0,0,0.3);
}


#title-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  background: plum;
  color: white;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  z-index: 9999;
  opacity: 1;
  transition: opacity 0.8s ease;
}


#title-text {
  font-size: 64px;
  font-weight: bold;
  margin-bottom: 40px;
  text-align: center;
  text-shadow: 0 6px 15px rgba(0,0,0,0.5);
}


#enter-button {
  font-size: 28px;
  padding: 12px 30px;
  border: none;
  border-radius: 12px;

  background: pink;
  color: white;
  cursor: pointer;
  box-shadow: 0 4px 10px rgba(0,0,0,0.3);
}

#enter-button:hover {
  background: #e3c48b;
}
